*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.header {
  width: 100%;
  background-color: #181616;
  color: antiquewhite;
  padding: 1rem 4rem;
}

.main {
  width: 60%;
  margin: 0 auto;
  padding: 4rem 0;

  display: flex;
  flex-direction: column;
}

.main__title {
  padding: 0 1rem;
}

.form {
  text-align: center;
  padding: 2rem 0;
}

.input {
  width: 60%;
  padding: 0.5rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}
.btn {
  padding: 0.5rem 1rem;
  background-color: #295bff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.todo__text {
  width: 80%;
  font-size: 1.2rem;
}
.dlt-icon {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
